/*======================= 
       Google Font  
==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/*======================= 
        Utilities 
==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.button {
  color: #fff;
  background-color: #e02c6d;
  padding: 5px 25px;
}
.button:hover {
  padding: 5px 40px;
  transition: 0.5s;
}

/* =====================
      Header Style
======================== */
header {
  width: 100%;
  background-color: #2d25a0;
  z-index: 100;
}
.menu-icon {
  display: none;
}
nav {
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin-right: 2rem;
}
li a {
  padding-bottom: 8px;
}
li a:hover {
  border-bottom: 2px solid #e02c6d;
}
.login {
  background: #e02c6d;
  color: #fff;
}

/* ====================
      Home Style
===================== */
.home {
  width: 100%;
  height: 400px;
  background-color: #2d25a0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-section {
  margin: 0 10rem;
}
.home-info {
  width: 45%;
  animation: slideInFromLeft 1s ease-in;
}
.home-title {
  font-size: 3rem;
  color: #fff;
}
.home-img {
  width: 40%;
}
.home-img img {
  width: 100%;
  animation: slideInFromRight 1s ease-in;
}

/* ========================
        Player Style
========================= */
.player {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}
.player-section {
  width: 80%;
  padding: 5rem 0;
}
.card {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.card-details {
  padding: 10px;
}
.card-title {
  font-size: 20px;
}
.card-img {
  width: 100%;
  border-radius: 5px;
}
.card-img:hover {
  transform: scale(0.9);
  transition: all ease-in 0.3s;
  box-shadow: 0 0 20px#2d25a0;
}

/* =======================
        Highlights Style
========================= */
.highlights {
  width: 100%;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlights-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.highlight-info {
  width: 45%;
  animation: slideInFromLeft 1s ease-in;
}
.highlight-title {
  font-size: 2.5rem;
}
.highlight-text {
  margin-bottom: 2rem;
}
.highlight-img {
  width: 45%;
  animation: slideInFromRight 1s ease-in;
}
.highlight-img img {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ======================
     Match schedule Style
============================== */
.schedule {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}
.schedule-section {
  margin: 5rem 0;
  width: 80%;
}
.schedule-title {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
}
hr {
  border: 5px solid #2d25a0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.match {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
}
.match-1,
.match-2,
.match-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team img {
  width: 50px;
  margin: 1rem;
}

/* ======================
      Sponsor Style
========================== */
.sponsor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsor-section {
  width: 70%;
  text-align: center;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

/* ===================
   Footer Style
====================== */
footer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section {
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.logo img {
  width: 50%;
}
.social-icon i {
  background: #ddd;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
}
.social-icon i:hover {
  background: #2d25a0;
  color: #e02c6d;
}
.copyright {
  margin: 1.5rem;
}

/* ============
    Animation 
=============== */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* ============
    Media Query 
=============== */
@media only screen and (max-width: 686px) {
  /* header */
  ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  nav {
    padding: 1rem 5rem;
  }
  /* Home */
  .home {
    min-height: 100vh;
  }
  .home-section {
    margin: 0 5rem;
    flex-direction: column;
    gap: 2rem;
  }
  .home-info {
    width: 100%;
  }
  .home-title {
    font-size: 2rem;
    color: #fff;
  }
  .home-img {
    width: 100%;
  }
  .home-img img {
    width: 100%;
    animation: slideInFromRight 1s ease-in;
  }
  /* Player */
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2rem;
  }

  /* Highlight */

  .highlights-section {
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    margin: 2rem;
  }
  .highlight-info {
    width: 100%;
  }

  .highlight-img {
    width: 100%;
  }

  /* schedule */
  .schedule-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .match {
    grid-template-columns: repeat(1, 1fr);
  }
  .match-1,
  .match-2,
  .match-3 {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(59, 40, 40, 0.2);
  }

  .team h3 {
    font-size: 15px;
  }
  .team span {
    font-size: 15px;
  }
  .team img {
    width: 45px;
  }

  .sponsor-icon img {
    width: 100px;
  }

  /* Footer */
  .footer-section {
    width: 100%;
  }
}
@media only screen and (min-width: 687px) and (max-width: 990px) {
  /* header */
  ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  nav {
    padding: 1rem 5rem;
  }
  /* Home */

  .home-section {
    margin: 0 5rem;
    justify-content: space-between;
  }

  .home-info {
    width: 100%;
  }
  .home-title {
    font-size: 2rem;
  }
  .home-img {
    width: 100%;
  }

  /* Player */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }

  /* Highlight */

  .highlights-section {
    justify-content: space-between;
    height: 500px;
    gap: 2rem;
  }
  .highlight-info {
    width: 100%;
  }
  .highlight-title {
    font-size: 1.5rem;
  }
  .highlight-text {
    text-align: justify;
  }
  .highlight-img {
    width: 100%;
  }

  /* schedule */
  .schedule {
    min-height: 100vh;
  }
  .match-1,
  .match-2,
  .match-3 {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(59, 40, 40, 0.2);
  }
}
